<nav class="navbar">
  <div class="container-fluid text-center">
    <div class="text-center">
      <a class="text-title" href="#">Hospital Management System</a>
    </div>
  </div>
</nav>
  
<div class="container-fluid bg-3 text-center">    
  <h3>Hospital List</h3><br>
  <div class="row">
      <div class="col-sm-4"><button type="button" class="btn btn-success">Sort by Hospital Name</button></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
    <table class="table">
      <thead>
        <tr>
          <th>Department Name</th>
          <th>Contact Number</th>
          <th>View Department</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hospital of hospitals">
          <td>{{hospital.hospitalname}}</td>
          <td>{{hospital.contactnumber}}</td>
          <td><a routerLink="/department">View</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div><br>

<footer class="container-fluid text-center">
  <p>Copyright 2019</p>
</footer>
