<nav class="navbar">
  <div class="container-fluid text-center">
    <div class="text-center">
      <a class="text-title" href="#">Hospital Management System</a>
    </div>
  </div>
</nav>
  
<div class="container-fluid bg-3 text-center">    
  <h3>Hospital List</h3><br>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Department Name</th>
          <th>Contact Number</th>
          <th>View Department</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
  </div>
</div><br>

<footer class="container-fluid text-center">
  <p>Copyright 2019</p>
</footer>
