/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color:#0f8fde;
  }

  a.text-title {
    color: black;
    font-size: 21px;
    }

 .table>tbody>tr>td {    
    text-align: left;
    }

  .btn-success {
      float: left;
  }
  
  /* Add a blue background color and some padding to the footer */
  footer {
    background-color:#0f8fde;
    padding: 25px;
  }